@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

.hord h1{
    text-align: center;
    margin:50px 0;
    background-color: #5cb748;
    color:white;
    border-radius: 5px;
    padding-bottom:3px;
}

section{
	min-height: 80vh;
}

.list{
    display: flex;
    justify-content: space-evenly; 
    margin-bottom: 35px; 
}

.obox{
    display: flex; 
    height: 15rem;
    margin-bottom: 48px;
}

.obox img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.obox img.food{
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
}

.olist{
    margin-left: 40px;
    width:100%;
}

.olist h2{
    margin-top: 0;
}

.plist{
    display:flex;
    justify-content: space-between;
    height:50%;
    width: 110%;
}

.plist p{
    font-size: 16.5px;
}

.plist p:nth-last-child(1){
    margin-top: 25px;
}

.plist h4{
    margin:16.5px 10px;
}

.select{
    padding:8px 10px;
    color:#333333;
    background-color: #eee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
}

.select option{
    background-color: white;
}

.slist{
    display:flex;  
}

.add{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border-radius: 5px;
    padding:10px 7px 4px;
    width:80px;
    background-color:ghostwhite;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.slist img{
    height:13px;
    width:13px;
}

.slist h3{
    margin:-2px;
}

.plus{
    margin-top: 3px;
    cursor: pointer;
}

.minus{
    margin-top: 7px;
    cursor: pointer;
}

.slist button{
    height:36px;
    width:90px;
    margin-top:25px;
    margin-left: 20px;
    background-color: #FF7223;
    border-color: transparent;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.slist button:hover{
    transform: scale(1.02);
}

.summary{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 50vh;
	height: 100%;
    width:300px;
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.summary h2{
    text-align: center;
}

.sum,.food_items{
    display:flex;
    justify-content: space-between;
    align-content: center;
}

.sum h4,.food_items h4{
    margin-top:5px;
    font-family: 'Fira Code', monospace;
    
}

.sum p,.food_items p{	
    margin:2px;
    font-family: 'Fira Code', monospace;
    font-size : 15px;
}

.dtime{
    margin-bottom: 10px;
    text-align: end;
}

.total{
    width:100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.total h4{
    margin-top:20px;
    margin-bottom: 15px;
    font-size: 20px;
}

.total p{
    margin-top:20px;
    font-size: 20px;
}

.sumlist button.place_order{
    height:45px;
    width:100%;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #FF7223;
    box-shadow: #FF7223  0px 25px 20px -20px;
    color:white;
    border-color: transparent;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor:pointer;
}

.sumlist button.place_order:hover{
    transform: scale(1.03);
}

input[type=button]{
    background-color: #ff6b16;
    color: white;
    width: 23rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.noItems{
    text-align: center;
}

.add-items{
	margin-bottom : 20px;
}
/* Shippment Address */
.selected-address{
    height:200px;
    margin-top : 15px;
}

.selected-address p{
    margin: 0px;
    color: gray;
}

.top-tittle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.location-image img{
    height: 30px;
}

.location-image{
    background-color: #eeffeb;
    padding: 12px 15px;
    border-radius: 40px;
}

.user-details{
    margin-left:25px
}

.detailsBox{
    display: flex;
    height: 50px;
}

p.dmobNumber{
    margin-top: 8px;
}

p.dstreet{
    margin-top: 15px;
}

.btn-change{
    color:#5cb748;
    background-color: #eeffeb;
    border-color: transparent;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
}

.btn-change:hover{
    border: #5cb748 2px solid;
    transform: scale(1.04);
}

.empty-address {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.btn-add {
    color: #5cb748;
    background-color: #eeffeb;
    border-color: transparent;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
}

.btn-add:hover {
    border: #5cb748 2px solid;
    transform: scale(1.05);
}

/* Place order css */

.content{
    height: 100vh;
    display: flex;
    z-index: 1;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: fixed;
    left:50%;
    top:100%;
    transform:translate(-50%, -100%);
}

.placed{
    display:none;
    background-color:white;
    height:260px;
    width:400px;
    border:solid 2px #32c671;
    border-radius: 10px;
    text-align: center;
    padding: 0 20px 20px;
    color:#333;
    box-shadow: -2px 4px 37px -16px rgba(115,201,96,1);
}

.placed img{
    height:60px;
    width:60px;
    position:relative;
    bottom:18px;   
}

.placed h2{
    font-size: 30px;
}

.placed a button{
    margin-top: 15px;
    height:40px;
    width:120px;
    background-color:#32c671;
    color:white;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 0.3px;
    border-color: transparent;
    border-radius: 30px;   
}

.placed a button:hover{
    transform: scale(1.05);
}


@media all and (max-width:1250px){
    .list{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .summary{
        margin-top: 50px;
        width: 46rem;
    }
    .plist{
        width: auto;
    }
    section{
	height: auto;
}
}

@media (max-width:800px){
    .lorder{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .obox{
        height:auto;
        width:50%;
        flex-direction: column;
        align-content: center;
    }
    .olist{
        margin: 10px 0;
    }
    .summary{
        margin-top: 50px;
        width: 80%;
    }
}

@media (max-width:680px){
    .olist{
        font-size: 2.5vw;
    }
    .olist p{
        font-size: 2.5vw;    
    }
    .select{
        padding: 5px 7px;
    }
    input[type=button]{
        width:50vw; 
    }
    .plist{
        align-content: center;
        align-items: baseline;
    } 
    .slist h3 {
        margin: 1px;
    }
    .slist img{
        height:11px;
        width:11px;
    }

}

@media (max-width:500px){
    .placed{
        margin:0 20px;
    }

}
