* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}


h1.add {
    text-align: center;
    margin: 50px;
    background-color: #5cb748;
    color: white;
    width: 100%;
    position: relative;
    right: 50px;
}

.selectHead {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.addressContainer {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    place-items: center;
}

.addressBox {
    padding: 20px;
    box-shadow: #5cb748 0px 0px 0px 2px, rgba(23, 34, 47, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 300px;
    border-radius: 20px;
    position: relative;
}

button.btn-set,button.btn-edit,button.btn-remove {
    color: white;
    background-color: #5cb748;
    border-color: transparent;
    cursor: pointer;
    height: 30px;
    border-radius: 20px;
}

.div-address {
    display: flex;
    justify-content: center;
}

.name{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 545;
}

.details{
    cursor: pointer;
}

.addAddress {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addAddress:hover {
    background-color: #ff6b16;
}

.green_tick {
    height: 35px;
}

div.tick_image {
    position: absolute;
    right: 10px;
}

.selectedBox {
    transition: all;
    background-color: rgb(240, 255, 244);
    transform: scale(1.03);
    transition: 0.3ss;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

/* pop up */

.done-box{
    height: 100vh;
    display: flex;
    z-index: 1;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: fixed;
    left:50%;
    top:100%;
    transform:translate(-50%, -100%);
}

.selected-container {
    display: none;
    background-color: white;
    font-size: 20px;
    height: 350px;
    width: 400px;
    border: solid 2px #32c671;
    border-radius: 10px;
    text-align: center;
    padding: 0 20px 20px;
    color: #333;
    box-shadow: -2px 4px 37px -16px rgba(115, 201, 96, 1);
    animation-name: zoomIn;
    animation-duration: 0.8s;
}

.selected-gif img {
    height: 180px;
    width: 180px;
}

.done-button button {
    margin-top: 10px;
    height: 40px;
    width: 120px;
    background-color: #32c671;
    color: white;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 0.3px;
    border-color: transparent;
    border-radius: 30px;
}

.done-button button:hover {
    transform: scale(1.05);
}

@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
    }
  
    50% {
      opacity: 1;
    }
  }
  